.center {
    text-align: center;
}

.select {
    padding: 50px;
    background: beige;
    transition: tranform .2s;
    display: inline;
    margin-left: 20px;
}

.select:hover {
    transform: scale(1.3);
}

.division-three {
    margin: 10px;
    padding: 10px;
    height: 160px;
    width: 30%;
}

.odd {
    background-color: beige;
    float: left;
}

.even {
    background-color: antiquewhite;
    float: left;
}

.division-two {
    margin: 10px;
    padding: 10px;
    background-color: beige;
    width: 46%;
    float: left;
}

.division-two-child {
    background-color: antiquewhite;
    padding: 10px;
}

.division-two-left {
    width: 63%;
    float: left;
}

.division-two-right {
    width: 30%;
    float: right;
}

